/* root */

* {
}

:root {
  --acc: #fa6673;
  --txt: #24292e;
  --bck: #fff;
}

body {
  background: var(--bck);
}

.container {
  width: 1024px;
}

/* header */

header {
}

/* main */

main {
}

/* footer */

footer {
}
